/* CSS Reset
http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

/* Main */
body {
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
	background:#f5f5f5;
	font-family: 'Raleway', sans-serif;
	font-size:17px;
}
body a {
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
h1 {
	float:left;
	margin:30px 0;
	font-size:31px;
	color: #000;
}
h1 span {
	color:#ccc;
}
h1 a {
	color:#000;
	text-decoration:none;
}
h1.hero {
	color:#fff;
	float:none;
	text-align:center;
	font-size:72px;
	font-weight:bold;
}
@media all and (max-width: 700px) {
	body h1.hero {
		font-size:42px;
	}
	body h1 {
		margin: 30px auto;
		float:none;
		text-align:center;
	}
	body ul.nav li {
		float:none;
		display:block;
	}
	body ul.nav {
		float:left;
	}
}
h2 {
	margin-top:20px;
	margin-bottom:30px;
	font-size:26px;
	text-align:center;
	font-family: 'Questrial', sans-serif;
	letter-spacing:6px;
}
h3 {
	font-size:24px;
	margin-bottom:10px;
}
body .wrapper.features-area {
	margin:30px auto;
}
.features-area h3 {
	margin: 30px 0 10px 0;
	text-align:center;
}
hr {
	max-width:50px;
	border-bottom:1px solid #000;
	width:100%;
	margin-bottom:40px;
}
h4 {
	font-size:22px;
	margin-bottom:10px;
}
h3 span {
	color: #fff;
	background:#5cace2;
	padding:10px;
}
a {
	color:#0000ff;
}
p{
	margin-bottom:10px;
}
body .wrapper {
	margin: 0 auto;
	max-width:1024px;
	width:100%;
	clear:both;
	padding:10px;
	box-sizing:border-box;
}

body .wrapper.right {
	margin: 0 auto;
	max-width:1024px;
	width:100%;
	text-align:right;
}

.coming-soon {
	color:#ff4444;
}
ul.nav {
	float:right;
}
ul.nav li{
	margin:40px 0;
	float:left;
	padding-left:30px;
}
ul.nav li a{
	color:#565758;
	text-decoration:none;
}
ul.nav li a:hover{
	color:#5657ff;
}
.parallax-window {
	width:100%;
	height:600px;
	padding:200px 0 0 0;
	color: #fff;
	box-sizing:border-box;
}
.parallax-window.sub {
	width:100%;
	height:150px;
	padding:20px 0 0 0;
	color: #fff;
	box-sizing:border-box;
}
.download-hero {
	margin-top:-5px;
	padding:30px;
	box-sizing:border-box;
	background: #585f8c;
	color:#fff;
}
.button {
	max-width:150px;
	display:block;
	border: 1px solid #fff;
	padding: 10px;
	text-decoration:none;
	color:#fff;
	background: #484f6c;
	margin: 30px auto;
	text-align:center;
}
.nav .button {
	margin:-10px 0 0 0;
}
ul.nav li a.button {
	color:#fff;
}
.button:hover, ul.nav li a.button:hover {
	border: 1px solid #fff;
	color:#484f6c;
	background: #fff;
}
body ul.nav li a.button:hover, body a.button.download-theme {
	border: 1px solid #484f6c;
}
a.button.download-theme {
	float:right;
}
.letspa {
	letter-spacing:3px;
}
.feature-box {
	padding:30px;
	box-sizing:border-box;
	background:#fff;
	border:1px solid #fff;
	box-shadow: #d4d4d4 0px 0px 26px 0px;
	max-width:250px;
	width:100%;
	margin-left:50px;
	margin-bottom:50px;
	float:left;
	min-height:300px;
	line-height:20px;

}
.feature-box h4 {
	font-weight:bold;
}
.feature-box p {
	line-height:26px;
}
.feature-box.first {
	clear:left;
	margin-left:0;
}
.left-col {
	max-width:250px;
	width:100%;
	float:left;
	padding:20px;
	box-sizing:border-box;
	position:fixed;
	top:300px;
	left:0;
	height:0;
	z-index:9999;
    background: #fff;
    border: 1px solid #fff;
    box-shadow: #d4d4d4 0px 0px 26px 0px;	
	margin-left:20px;
	overflow-y:scroll;
	overflow-x:hidden;
}
.left-col .letspa {
	color:#343536;
}
.left-col a {
	display:block;
	text-decoration:none;
	color:#565758;
	margin-bottom:5px;
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}
.left-col a:hover {
	text-decoration:underline;
}
.left-col .branch {
	margin:30px 0 20px 0;
}
.content{
	float:left;
	box-sizing:border-box;
	padding:20px;
	max-width: 750px;
}
.docs-list.content {
	width:100%;
	padding-left:300px;
	box-sizing:border-box;
	max-width:none;
}
.docs-list .head {
	text-align:left;
	font-weight:bold;
	font-size:20px;
	background: #ccc;
	display:block;
	padding:20px;
	box-sizing:border-box;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.plugin-box {
	margin-top:30px;
	max-width:300px;
	width:100%;
	padding:20px;
	box-sizing:border-box;
	min-height:300px;
	background:#fff;
	border:1px solid #fff;
	box-shadow: #d4d4d4 0px 0px 26px 0px;
}
.theme-box {
	margin-top:30px;
	max-width:1024px;
	width:100%;
	padding:20px;
	box-sizing:border-box;
	min-height:300px;
	background:#fff;
	border:1px solid #fff;
	box-shadow: #d4d4d4 0px 0px 26px 0px;
}
.plugin-box h2, .theme-box h2 {
	letter-spacing:2px;
}

.credit {
	margin-top:30px;
	max-width:300px;
	width:100%;
	padding:20px;
	box-sizing:border-box;
	min-height:300px;
	box-shadow: #d4d4d4 0px 0px 26px 0px;
}

.credit.large {
	margin-left:30px;
	max-width:670px;
	box-sizing:border-box;
	width:100%;
}
.credit img {
	width:100%;
}
.post .description {
	float:left;
	margin-top:30px;
	padding:20px;
	box-sizing:border-box;
	font-size:20px;
	max-width:600px;
	width:100%;
}

.about-page p {
	padding:0 20px;
	font-size:20px;
	margin-bottom:10px;
	line-height:30px;
}
.theme-box h2 {
	text-align:left;
}
.theme-box img {
	width:100%;
}
.footer {
	background: #585f8c;
	clear:both;
	margin-top:30px;
}
.footer a {
	float:right;
	padding:20px 10px;
	color:#fff;
	margin-left:10px;
}
.search-wrapper {
	float:right;
}
.search-wrapper .search-box {
	font-size:20px;
	padding:5px 20px 5px 5px;
	box-sizing:border-box;
	background: #fff url(/files/img/search.png) right center no-repeat;
	border:none;
}

.col33 {
	float:left;
	margin-left:20px;
	width:30%;
	box-sizing: border-box;
	background: 
}
.col1 {
	padding-left:0;
}

.col-right, .col-left {
	margin-top:80px;
	background: #ddd;
}
.col-left .price {
	margin-top:40px;
	margin-bottom:30px;
}
.col-right .feat-head, .col-left .feat-head {
	min-height:300px;
	background: #555;
	color:#fff;

}
.col-middle {
	margin-top:20px;
}
.col-middle .price {
	margin-top:100px;
}
.col-middle .feat-head {
	background: #585f8c;
	color:#fff;
	min-height:360px;
}
.feat-head {
	font-weight:bold;
}
.feat-head p {
	text-align:center;
}
.download-page .price {
	font-size:42px;
	text-align:center;
}
.download-page .price sup {
  vertical-align: super;
  font-size:0.5em;
}
.download-page .feature {
	background: #fff;
	padding:30px;
	border-bottom: 1px solid #555;
	line-height:30px;
	text-align:left;
}
.download-page .feature img {
	max-width:20px;
	display:block;
	float:left;
	padding-top:10px;
	margin-right:10px;
}
.download-page .select-plan {
	padding:10px 30px;
	display:block;
	max-width:100px;
	width:100%;
	background: yellow;
	color:#003;
	text-decoration:none;
	text-align:center;
	margin:30px auto 30px auto;
}
.download-page .select-plan:hover {
	background:orange;
}
.download-page .col-middle .select-plan {
	margin-top:80px;
	margin-bottom:40px;
}
.feature .select-plan {
	border:2px solid #000;
}
.col-left .feature.f1, .col-right .feature.f1 {
	padding-top: 80px;
}
.thank-you-page h2 {
	font-size:120px;
	text-align:center;
}

.thank-you-page p {
	font-size:42px;
	text-align:center;
}
.dev-credits {
	margin-top:50px;
}
.dev-credits h2 {
	text-align:left;
	margin:20px 0;
}


/***************************************************************************************************** */

@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
.cred-wrap {
	max-width:1024px;
	width:100%;
	position:relative;
	margin: 0 auto;
	height: 500px;
    overflow: hidden;
}
.credits-roll {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 400px;
  margin-left: -200px;
  font: 300 30px/1 'Open Sans Condensed', sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  animation: 50s credits linear infinite;
  overflow:hidden;
}
.credits-roll img {
	max-width:200px;
	width:100%;
}

.main-title {
  margin-bottom: 50px;
  font-size: 50px;
  color: #000;
}

.role {
  margin-bottom: 5px;
  font-size: 18px;
  color: #363738;
}

.name {
  margin-bottom: 50px;
  font-size: 35px;
  color: #565758;
}

@keyframes credits {
  0% {
    top: 500px;
  }
  100% {
    top: -2300px;
  }
}
.name a {
	color: #000;
	text-decoration:none;
}
.name a:hover {
	color: #444;
	text-decoration:underline;
}

/* CKEDITOR */
.cke_editable {
	background: #fff;
	padding:30px;
	box-sizing:border-box;
}
.main-bg {
	min-height:600px;
}
.tri {
	min-height:600px;
}
.unslider-wrap, .unslider-wrap li {
	min-height:600px;
}

.homesteps h1.hero {
	color: #fff;
}
.homesteps h2 {
	color: #fff;
}
.homesteps p {
	color: #fff;
	text-align:left;
	margin:0 auto;
	max-width:700px;
	width:100%;
	font-size:24px;
	margin-bottom:10px;
}
.homesteps a {
	color: #fff;
	max-width:276px;
	width:100%;
}
.homesteps p span {
	min-width:250px;
	display:inline-block;
	background: rgba(0, 0, 0, 0.6);
	padding:5px;
}
.homesteps input {
	font-size:24px;
	padding: 5px 10px;
}
.homesteps li {
	padding:100px 0;
	margin: 0 auto;
	text-align:center;
	font-size:24px;
}
.step0 {
	background: rgba(0, 0, 0, 0.6) url(/files/img/steps/step0.jpg) no-repeat center center !important;
}
.step1 {
	background: rgba(0, 0, 0, 0.6) url(/files/img/steps/step1.jpg) no-repeat center center !important;
}
.step2 {
	background: rgba(0, 0, 0, 0.6) url(/files/img/steps/step2.jpg) no-repeat center center !important;
}
.step3 {
	background: rgba(0, 0, 0, 0.6) url(/files/img/steps/step3.jpg) no-repeat center center !important;
}